*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: none; */

}
body{
    background: #000;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
}
menu{
    float: right;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 50px;
    z-index: 10000;
}
header  .logo{
    position: relative;

}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
    text-transform: uppercase;
}

header  .menu  li:last-child{
    margin-right: 0;
}

header .menu{
    float: right;
    position: relative;
}





/* header{
    padding: 40px 50px;
    z-index: 10000;

}
header  .logo{
    float: left;
    position: relative;
    
}


header  .menu li{
    display: inline-block;
    margin: 0 20px;
    position: relative;

}

header  .menu  li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: all ease 0.5s;
    position: relative;
} */
header  .menu li a:hover{
    color: #fff700 ;
}

header  .menu  li.btn a {
    background-color: #fff700;
    color: #000;
    padding: 14px 27px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

header  .menu  li.btn a:hover {
    border-radius: 15px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;

}

/*container*/

.home  .container{
    max-width: 1266px;
    margin: 0 auto;
}


/*Portrait*/

.home .person{
    float: right;
    
    margin: 70px 180px;
    position: relative;
    border-radius: 70px 0 70px 0;
    overflow: hidden;
}

.home-text{
    color: rgb(255, 255, 255);
    margin-top: 220px;
    position: absolute;
}
.home-text h6{
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 16px;


}

.home-text h1{
    text-transform: uppercase;
    font-size: 100px;
}

.home-text p{
    max-width: 500px;
    font-size: 16px;
    margin-top: 230px;
}

.home-text .name span{
    margin-right: 130px;
    display: inline-block;
}
.home-text .name span:last-child{
    margin-right: 0;
}

.home  .person-overlay{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #525252;
    z-index: 99;

}

.home .person img{
    height: 475px;
    width: 460px;
}

/***Hidden******/

.home  .person  img,
.student span,
.name span,
.logo,
.menu li,
.small-intro span{
    opacity: 0;
    
}


.sci{
    
    position: absolute;
    right: 100px;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sci li{
    margin-right: 10px;
    list-style: none;
}
.sci li img{
    transform: scale(0.5);
    opacity: 0.7;
}
.sci li img:hover{
    opacity: 1;
}

.title{
    width: 100%;
    text-align: center;
}

.nav_menu{
    position: relative;
    width: 100%;
    min-height: 100vh;

}

section{
    padding: 10px;
    min-height: 10vh;
}

.title{
    width: 100%;
    text-align: center;
}

.Landing{
    display:flex;
flex-direction:column;
}